body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#calculator{
    font-family: Arial,sans-serif;
    background-color:rgb(34, 34, 36);
    border-radius: 15px;
    max-width: 500px;
    overflow:hidden;
}
#display{
    width:100%;
    padding:20px;
    font-size:3rem;
    text-align: left;
    border: none;
    background-color: rgb(61, 64, 65);
    color: white;
}
#keys{
    display:grid ;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    padding:25px;
    
}
button{
    width: 80px;
    height: 80px;
    border-radius:50px;
    font-size:3rem;
    font-weight: bold;
    background-color: rgb(71, 74, 80);
    color: whitesmoke;
    cursor:pointer;
    border: none;
    
}
button:hover{
    background-color: rgb(86, 87, 87);
}
button:active{
    background-color: rgb(106, 110, 110);
}
.operator-btn{
    background-color:rgb(244, 159, 2)
}
.operator-btn:hover{
    background-color: rgb(233, 162, 28);
}
.operator-btn:active{
    background-color: rgb(238, 187, 92);
}
.eq-btn{
    background-color: rgb(19, 167, 19);
}
.eq-btn:hover{
    background-color: rgb(9, 210, 9);
}